:root {
  --bord-lg: 1px solid #000; 
  --bord-dk: 2px solid #000;
  --yellow: #fed90f;
  --mouth: #d1b271;
  --black: #000;
  --white: #fff;
  --blue: #08aef0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blue);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head {
  position: relative;
  width: 215px;
  height: 405px;
}

.forehead, .hair-1, .hair-2,
.right-eye, .right-pupil, .left-eye, .left-pupil,
.face-side-1, .face-side-2, .nose,
.mouth, .mouth-1, .mouth-2, .mouth-3, .mouth-4,.mouth-5,
.neck, .collar-left, .collar-right, 
.ear, .ear-1, .ear-2 {
  position: absolute;
}

.forehead, .face-side-1, .face-side-2, .nose, .neck {
  background-color: var(--yellow);
}

.forehead {
  width: 170px;
  height: 200px;
  border: var(--bord-lg);
  top: 10px;
  border-radius: 60%/50%;
  transform: rotate(-18deg);
}

.hair-1, .hair-2 {
  width: 80px;
  height: 70px;
  border-top: var(--bord-dk);
  border-radius: 50%;
}

.hair-1 {
  top: 15px;
  transform: rotate(-40deg);
}

.hair-2 {  
  left: 10px;
  transform: rotate(-30deg);
}

.right-eye, .left-eye {
  width: 75px;
  height: 75px;
  background-color: var(--white);
  border: var(--bord-lg);
  border-radius: 50%;
}

.right-pupil, .left-pupil {
  width: 9px;
  height: 9px;
  background-color: var(--black);
  border-radius: 50%;
  top: 40px;
}

.right-eye {
  left: 120px;
  top: 110px;
}

.right-pupil {
  left: 35px;
}

.left-eye {
  left: 60px;
  top: 115px;
}

.left-pupil {
  left: 25px;
}

.face-side-1 {
  width: 140px;
  height: 60px;
  top: 185px;
  left: 30px;  
}

.face-side-2 {
  width: 40px;
  height: 60px;
  top: 165px;
  left: 22px;
  transform: rotate(-11deg);
  border-left: var(--bord-lg);
}

.nose {
  width: 60px;
  height: 32px;
  top: 175px;
  left: 130px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top: var(--bord-lg);
  border-bottom: var(--bord-lg);
  border-right: var(--bord-lg);
}

.mouth, .mouth-1, .mouth-2, .mouth-3, .mouth-4, .mouth-5 {
  background-color: var(--mouth);
}

.mouth {
  width: 115px;
  height: 120px;
  top: 207px;
  left: 60px;
  border-radius: 50%;
  border: var(--bord-lg);
}

.mouth-1 {
  width: 20px;
  height: 30px;
  top: 62px;
  left: 98px;
  border-radius: 50%;
  border-right: var(--bord-lg);
  transform: rotate(15deg);
}

.mouth-2 {
  width: 120px;
  height: 60px;
  top: 20px;
  left: 30px;
  border-radius: 60%;
  border-bottom: var(--bord-lg);
  transform: rotate(-6deg);
}

.mouth-3 {
  width: 35px;
  height: 48px;
  top: 230px;
  left: 165px;
  border-radius: 10%;
  border-top: var(--bord-lg);
  transform: rotate(40deg);
}

.mouth-4 {
  width: 60px;
  height: 30px;
  top: 200px;
  left: 130px;
  border-right: var(--bord-lg);
  border-top-right-radius: 70%;
}

.mouth-5 {
  width: 30px;
  height: 30px;
  top: 260px;
  left: 80px;
}

.neck {
  width: 125px;
  height: 150px;
  top: 200px;
  left: 28px;
  border-left: var(--bord-lg);
  border-right: var(--bord-lg);
  transform: rotate(2deg);
}

.collar-left, .collar-right {
  background-color: var(--white);
  border: var(--bord-lg);
}

.collar-left {
  width: 110px;
  height: 60px;
  top: 330px;
  left: 10px;
  transform: rotate(15deg);
  border-radius: 10px;
}

.collar-right {
  width: 20px;
  height: 50px;
  background-color: var(--white);
  top: 340px;
  left: 150px;
  transform: rotate(-20deg);
  border-radius: 6px;
}

.ear {
  width: 32px;
  height: 37px;
  background-color: var(--yellow);
  top: 200px;
  left: 10px;
  border-radius: 50%;
  transform: rotate(10deg);
  border: var(--bord-lg);
}

.ear-1 {
  width: 15px;
  height: 15px;
  top: 8px;
  left: 8px;
  border-left: var(--bord-lg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.ear-2 {
  width: 8px;
  height: 8px;
  top: -3px;
  border-bottom: var(--bord-lg);
}
